---
layout: default
---

<h2>Contact</h2>


<ul>
  <li>Email: <a href="mailto:btranslator@fs.al">btranslator@fs.al</a></li>

  <li>Follow on Twitter: <a href="https://twitter.com/b_translator">https://twitter.com/b_translator</a></li>

  <li>Discussion group/forum
    <ul>
      <li>Email: <i>btranslator@googlegroups.com</i></li>
      <li>
      Web: <a href="https://groups.google.com/forum/?fromgroups&amp;hl=en#!forum/btranslator">https://groups.google.com/forum/?fromgroups&amp;hl=en#!forum/btranslator</a></li>
    </ul>
  </li>

  <li>Issues:
    <ul>
      <li><a href="https://gitlab.com/b-translator/btr_server/issues">https://gitlab.com/b-translator/btr_server/issues</a></li>
      <li><a href="https://gitlab.com/b-translator/btr_client/issues">https://gitlab.com/b-translator/btr_client/issues</a></li>
      <li><a href="https://gitlab.com/b-translator/btrClient/issues">https://gitlab.com/b-translator/btrClient/issues</a></li>
      <li><a href="https://www.drupal.org/project/issues/btrclient">https://www.drupal.org/project/issues/btrclient</a></li>
    </ul>
  </li>
</ul>
