---
layout: default
---

<h2>Documentation</h2>

<ul>
  <li><a href="/api/">B-Translator API Reference</a></li>
  <li><a href="/api-examples-js/" target="_blank">B-Translator API Examples</a></li>
  <li><a href="/vocabularies/">Vocabularies</a></li>
  <li><a href="/docs/html/description-of-btranslator.html" target="_blank">Description of B-Translator</a></li>
  <li><a href="/docs/html/translation-workflow.html">Translation Workflow With B-Translator</a></li>
  <li><a href="/docs/html/using-drupal-features-in-btranslator.html" target="_blank">Using Drupal Features in B-Translator</a></li>
  <li><a href="/docs/html/btranslator-dev-tips.html">Development Tools, Tips and Tricks</a> (outdated)</li>
  <li><a href="/docs/html/cloning-btranslator-server.html" target="_blank">Cloning a B-Translator Server</a> (outdated)</li>
  <li><a href="http://dashohoxha.fs.al/btranslator-project/" target="_blank">B-Translator as a Software Engineering Project</a></li>
  <li><a href="https://gitlab.com/b-translator/b-translator.gitlab.io/tree/master/docs/uml">docs/uml/</a></li>
  <li><a href="https://gitlab.com/b-translator/b-translator.gitlab.io/tree/master/docs/org">docs/org/</a></li>
</ul>
