---
layout: default
---

<h2>What is B-Translator</h2>

<div style="display:inline-block; float:right; width:190px; text-align:center;">
  <img src="images/btranslator.png" style="border:none; margin-bottom:0"/>

  <a href="https://www.coinbase.com/dashohoxha" target="_blank">
    <img src="images/bitcoin-donate-button.jpg" width="170px" style="border:none; margin:10px; margin-bottom:20px;" />
  </a>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="BDGU9GENUTXEG">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  </form>

  <br/>
  <script data-gratipay-username="dashohoxha"
        src="//grtp.co/v1.js"></script>
  </script>
</div>

<p>The codename <b>B-Translator</b> can be decoded like <b>Bee
Translator</b>, since it aims at collecting very small translation
contributions from a wide crowd of people and to dilute them into
something useful. It can also be decoded like <b>Be Translator</b>, as
an invitation to anybody to give his small contribution for
translating programs or making their translations better.</p>

<ul class="links">
  <li><a href="/install.html">Installation</a></li>
  <li><a href="/api/">API Reference</a></li>
  <li><a href="/api-examples-js/" target="_blank">API Examples</a></li>
  <li><a href="/vocabularies/">Vocabularies</a></li>
  <li><a href="/docs.html">Documentation</a></li>
  <li><a href="/contact.html">Contacts and Communication</a></li>
</ul>

<h4>Sites using B-Translator:</h4>
<p id="sites">
 + <a href="https://btr.fs.al" target="_blank">
      https://btr.fs.al</a> - B-Translator Server<br/>
 + <a href="https://btranslator.fs.al" target="_blank">
      https://btranslator.fs.al</a> - B-Translator Client<br/>
 + <a href="http://v.btr.fs.al" target="_blank">
      http://v.btr.fs.al</a> - Vocabularies<br/>
 + <a href="https://l10n.fs.al" target="_blank">
      https://l10n.fs.al</a> - Albanian Translations<br/>
 + <a href="http://fjalori.fs.al" target="_blank">
      http://fjalori.fs.al</a> - Albanian Vocabularies
</p>

<hr/>
