---
layout: default
---

<p>B-Translator is made of two parts,
a <a href="https://gitlab.com/b-translator/btr_client"
target="_blank">client</a> application and a
<a href="https://gitlab.com/b-translator/btr_server"
target="_blank">server</a> application, which communicate with
each-other through an <a href="/api/" target="_blank">HTTP
API</a>. Both of these applications are built with Drupal7. For more
flexibility, there is also
a <a href="https://gitlab.com/b-translator/btrclient"
target="_blank">drupal module</a> for the client, that can be
installed independently on any Drupal application or distribution.</p>

<p>For installation instructions see:
  <a href="https://gitlab.com/b-translator/btr_server/blob/master/README.md"
     target="_blank">https://gitlab.com/b-translator/btr_server/blob/master/README.md</a></p>
