---
layout: default
---

<h2>Sites</h2>

<h4>B-Translator</h4>
<ul>
  <li><a href="https://btr.fs.al" target="_blank">https://btr.fs.al</a> - B-Translator Server</li>
  <li><a href="https://btranslator.fs.al" target="_blank">https://btranslator.fs.al</a> - B-Translator Client</li>
  <li><a href="https://l10n.fs.al" target="_blank">https://l10n.fs.al</a> - Albanian Translations (B-Translator Client)</li>
</ul>

<h4>Vocabularies:</h4>
<ul>
  <li><a href="http://fjalori.fs.al" target="_blank">http://fjalori.fs.al</a> - Fjalori ICT</li>
  <li><a href="http://v.btr.fs.al" target="_blank">http://v.btr.fs.al</a> - Vocabularies</li>
  <li><a href="http://v.btr.fs.al?lng=de&proj=ICT_de" target="_blank">http://v.btr.fs.al?lng=de&proj=ICT_de</a> - Wortschatz</li>
  <li><a href="http://v.btr.fs.al?lng=es&proj=ICT_es" target="_blank">http://v.btr.fs.al?lng=es&proj=ICT_es</a> - Vocabulario</li>
</ul>
