<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div id="sidebar">
    <ul class="gitlab">
      <li><a href="https://gitlab.com/b-translator/btr_server" target="_blank">btr_server</a></li>
      <li><a href="https://gitlab.com/b-translator/btr_client" target="_blank">btr_client</a></li>
      <li><a href="https://gitlab.com/b-translator/btrclient" target="_blank">btrclient</a></li>
    </ul>

    <ul class="links">
      <li><a href="/index.html">Index</a></li>
      <li><a href="/install.html">Install</a></li>
      <li><a href="/api/">API</a></li>
      <li><a href="/vocabularies/">Vocab</a></li>
      <li><a href="/docs.html">Docs</a></li>
      <li><a href="/sites.html">Sites</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>

  </div>
</div>
<!-- /#sidebar-wrapper -->
