---
layout: default
---

<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2">Installing the mobile application</h2>
<div class="outline-text-2" id="text-2">
<ul class="org-ul">
  <li>Fork <a href="https://gitlab.com/b-translator/vocabulary">https://gitlab.com/b-translator/vocabulary</a>
    (or <a href="https://gitlab.com/fs.al/fjalori">https://gitlab.com/fs.al/fjalori</a>).
  </li>

  <li>GitLab will automatically publish this branch to an address like this:
    <a href="http://b-translator.gitlab.io/vocabulary">http://b-translator.gitlab.io/vocabulary</a>
    (it may take a few minutes for it to be published).
  </li>

  <li>Optionally create a custom domain (as described <a href="https://docs.gitlab.com/ee/user/project/pages/getting_started_part_three.html#add-your-custom-domain-to-gitlab-pages-settings">here</a>)
    and redirect it to GitHub.
  </li>

  <li>Customize the application by editing the file
    <a href="https://gitlab.com/b-translator/vocabulary/blob/master/config.js">config.js</a>.
    Some of the things that need to be changed are app_url, disqus.shortname,
    etc. The oauth2 settings can be left untouched.
  </li>

  <li>Customize the list of available languages and vocabularies by editing
    <a href="https://gitlab.com/b-translator/vocabulary/blob/master/js/options.js">js/options.js</a>.
    These vocabularies must have been created on the server first.
  </li>
</ul>
</div>
</div>


<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3">Embedding inside a webpage</h2>
<div class="outline-text-2" id="text-3">
<p>
It can also be embedded in a frame inside an HTML page, like the
example shown here.
</p>

<!-- HTML generated using hilite.me -->
<div><pre style="margin-bottom: 10px; line-height: 125%"><span style="color: #6ab825; font-weight: bold">&lt;div</span> <span style="color: #bbbbbb">style=</span><span style="color: #ed9d13">&quot;width:350px; display:inline-block; float:right;</span>
<span style="color: #ed9d13">            border:1px solid #aaa; padding:0px; margin-left:10px;&quot;</span><span style="color: #6ab825; font-weight: bold">&gt;</span>
  <span style="color: #6ab825; font-weight: bold">&lt;iframe</span> <span style="color: #bbbbbb">src=</span><span style="color: #ed9d13">&quot;http://v.btr.fs.al?lng=sq&amp;proj=ICT_sq&quot;</span>
          <span style="color: #bbbbbb">width=</span><span style="color: #ed9d13">&quot;100%&quot;</span> <span style="color: #bbbbbb">height=</span><span style="color: #ed9d13">&quot;445px&quot;</span>
          <span style="color: #bbbbbb">seamless=</span><span style="color: #ed9d13">&quot;seamless&quot;</span> <span style="color: #bbbbbb">frameborder=</span><span style="color: #ed9d13">&quot;0&quot;</span><span style="color: #6ab825; font-weight: bold">&gt;</span>
  <span style="color: #6ab825; font-weight: bold">&lt;/iframe&gt;</span>
<span style="color: #6ab825; font-weight: bold">&lt;/div&gt;</span>
</pre></div>
<!-- End HTML generated using hilite.me -->

<!-- HTML generated using hilite.me -->
<div><pre style="margin-bottom: 10px; line-height: 125%"><span style="color: #6ab825; font-weight: bold">&lt;div</span> <span style="color: #bbbbbb">style=</span><span style="color: #ed9d13">&quot;width:350px; display:inline-block;</span>
<span style="color: #ed9d13">     float:right; border:1px solid #aaa; padding:5px;&quot;</span><span style="color: #6ab825; font-weight: bold">&gt;</span>
  <span style="color: #6ab825; font-weight: bold">&lt;h3</span> <span style="color: #bbbbbb">style=</span><span style="color: #ed9d13">&quot;margin-top:0px; color:#2a2;&quot;</span><span style="color: #6ab825; font-weight: bold">&gt;</span>Vocabulary: ICT_sq<span style="color: #6ab825; font-weight: bold">&lt;/h3&gt;</span>

  <span style="color: #6ab825; font-weight: bold">&lt;iframe</span> <span style="color: #bbbbbb">src=</span><span style="color: #ed9d13">&quot;https://btranslator.fs.al/vocabulary/ICT_sq?display=iframe&quot;</span>
          <span style="color: #bbbbbb">width=</span><span style="color: #ed9d13">&quot;100%&quot;</span> <span style="color: #bbbbbb">height=</span><span style="color: #ed9d13">&quot;400px&quot;</span>
          <span style="color: #bbbbbb">seamless=</span><span style="color: #ed9d13">&quot;seamless&quot;</span> <span style="color: #bbbbbb">frameborder=</span><span style="color: #ed9d13">&quot;0&quot;</span><span style="color: #6ab825; font-weight: bold">&gt;</span>
  <span style="color: #6ab825; font-weight: bold">&lt;/iframe&gt;</span>
<span style="color: #6ab825; font-weight: bold">&lt;/div&gt;</span>
</pre></div>
<!-- End HTML generated using hilite.me -->

<div style="width:350px; display:inline-block; float:right;
            border:1px solid #aaa; padding:0px; margin-left:10px;">
  <iframe src="http://v.btr.fs.al?lng=sq&proj=ICT_sq"
          width="100%" height="445px"
          seamless="seamless" frameborder="0">
  </iframe>
</div>

<div style="width:350px; display:inline-block;
            float:right; border:1px solid #aaa; padding:5px;">
  <h3 style="margin-top:0px; color:#2a2;">Vocabulary: ICT_sq</h3>

  <iframe src="https://btranslator.fs.al/vocabulary/ICT_sq?display=iframe"
          width="100%" height="400px"
          seamless="seamless" frameborder="0">
  </iframe>
</div>

<p style="clear:both"> </p>
</div>
</div>


<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4">Connecting to social networks.</h2>
<div class="outline-text-2" id="text-4">
</div><div id="outline-container-sec-4-1" class="outline-3">
<h3 id="sec-4-1">Disqus</h3>
<div class="outline-text-3" id="text-4-1">
<p>
Create a discussion forum at <a href="https://disqus.com/admin/create/">https://disqus.com/admin/create/</a> and
put its name on <code>config.js</code>.
</p>
</div>
</div>


<div id="outline-container-sec-4-2" class="outline-3">
<h3 id="sec-4-2">Twitter</h3>
<div class="outline-text-3" id="text-4-2">
<p>
Try something like this on terminal:
</p>
<pre class="example">
curl https://btr.fs.al/tweet/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al
</pre>
<p>
Or open it it browser:
<a href="https://btr.fs.al/tweet/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al">https://btr.fs.al/tweet/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al</a>
</p>

<p>
Each time it will return a random term from the vocabulary, in a
format suitable for twitter. To make the process automatic, you can
use a script like <a href="https://gitlab.com/b-translator/btr_client/blob/master/utils/twitter.sh">twitter.sh</a>:
</p>
<pre class="example">
#!/bin/bash
### Send tweets from command line.

t='/usr/local/bin/t'
tweet=$(curl https://btr.fs.al/tweet/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al)
mention=$($t followings | sort -R | tail -1)
$t update "$tweet @$mention"
</pre>

<p>
In Linux, calling this script can be automated with a cron job. For
example you can create the file <code>/etc/cron.d/twitter</code> with a
content like this:
</p>
<pre class="example">
### first create a user with `adduser twitter`
20 */12 * * *  twitter  /home/twitter/twitter.sh &gt; /dev/null 2&gt;&amp;1

### uncomment this line only for debugging
#*/5 * * * *  twitter  /home/twitter/twitter.sh
</pre>

<p>
For instructions on how to install the <b>t</b> twitter client, see:
<a href="http://xmodulo.com/2013/12/access-twitter-command-line-linux.html">http://xmodulo.com/2013/12/access-twitter-command-line-linux.html</a>
</p>
</div>
</div>


<div id="outline-container-sec-4-3" class="outline-3">
<h3 id="sec-4-3">RSS</h3>
<div class="outline-text-3" id="text-4-3">
<p>
Try something like this on terminal:
</p>
<pre class="example">
curl https://btr.fs.al/rss-feed/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al
</pre>
<p>
Or open it it browser:
<a href="https://btr.fs.al/rss-feed/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al">https://btr.fs.al/rss-feed/sq/vocabulary/ICT_sq?url=http://v.btr.fs.al</a>
</p>

<p>
It return a RSS feed of the latest translations. Latest means
yesterday. Results are cached, so last minute translations may not
appear on the list.
</p>

<p>
There are services like <a href="https://dlvr.it/">https://dlvr.it/</a> which can connect to rss feeds
and share the latest items to social networks (Facebook, LinkedIn,
etc.) See this article for some other tools:
<a href="http://www.twelveskip.com/guide/blogging/1189/best-auto-sharing-tools-social-media">http://www.twelveskip.com/guide/blogging/1189/best-auto-sharing-tools-social-media</a>
</p>
</div>
</div>
</div>
