---
layout: org-info
---

<div id="content">

<h1 class="title">Translation Workflow With B-Translator</h1>





<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">Translation files </a></li>
<li><a href="#sec-2">Importing projects </a>
<ul>
<li><a href="#sec-2.1">Drush commands </a></li>
<li><a href="#sec-2.2">Import scripts </a></li>
<li><a href="#sec-2.3">Example script </a></li>
</ul>
</li>
<li><a href="#sec-3">Bulk import of translations and votes </a></li>
<li><a href="#sec-4">Exporting </a></li>
<li><a href="#sec-5">Snapshots and diffs </a>
<ul>
<li><a href="#sec-5.1">Lifecycle of the snapshots and diffs </a></li>
<li><a href="#sec-5.2">Drush commands for snapshots and diffs </a></li>
<li><a href="#sec-5.3">Getting diffs from the web (wget_diff.sh) </a></li>
</ul>
</li>
</ul>
</div>
</div>

<div id="outline-container-1" class="outline-2">
<h2 id="sec-1">Translation files </h2>
<div class="outline-text-2" id="text-1">


<p>
The translation files that are imported into the DB are retrieved
from the repository of the corresponding projects. This is done by
the scripts in the directory <a href="https://gitlab.com/b-translator/btr_server/tree/master/modules/custom/btrCore/data/get">get/</a>, which checkout (or update)
these files from each projects' repository.
</p>
<p>
The way of getting these files is slightly different for different
projects. However almost all of them are placed in the directory
<code>$data_root</code>, which is defined in <a href="https://gitlab.com/b-translator/btr_server/blob/master/modules/custom/btrCore/data/config.sh">config.sh</a>. Besides <code>$data_root</code>,
<code>config.sh</code> defines also the variable <code>$languages</code>, which is a list
of the codes of the languages that are supported by the system.
</p>
<p>
Projects on the <code>$data_root</code> are also grouped (categorized) by
origin. For example all the GNOME projects are placed on the same
directory, all the KDE projects on another directory, and so on.
Under the 'origin' directory, there is a subdirectory for each
language, and under it usually there is a subdirectory for each
project, containing all the translation files of the project, in any
structure that is suitable for the project.
</p>
<p>
Some projects have just a single translation (PO) file (for example
those of GNOME or ubuntu), some others have several translation
files (like those of KDE), and some others have many translation
files (like those of LibreOffice and Mozilla).
</p>
<p>
In the case of Mozilla, translation files are not in gettext format,
so they are converted to PO files using <code>moz2po</code> (from Translation
Toolkit).
</p>

</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2">Importing projects </h2>
<div class="outline-text-2" id="text-2">


<p>
Translation projects are imported in two steps: the first step is to
create a project and import its template (POT) files, and the second
step is to import the translation (PO) files for each language. A
POT file usually has a corresponding PO file for each language.
</p>

</div>

<div id="outline-container-2.1" class="outline-3">
<h3 id="sec-2.1">Drush commands </h3>
<div class="outline-text-3" id="text-2.1">


<p>
Drush commands that are used for importing projects are:
</p>
<dl>
<dt>btr-project-add (btrp-add)</dt><dd>
Create a project and import its POT
files into the DB. If such a project already exists (the same
origine and project), it will be deleted first (related data
will be erased as well).

</dd>
<dt>btr-project-import (btrp-import)</dt><dd>
Import the PO files of an
origin/project/lng into the DB. Templates of the project (POT
files) must have been imported first. If the corresponding
template for a file does not exist, it will not be imported.

</dd>
</dl>

<p>There are also commands for getting a list of projects and for
deleting a project:
</p>
<dl>
<dt>btr-project-ls (btrp-ls)</dt><dd>
List imported projects, filtered by
origin/project.

</dd>
<dt>btr-project-del (btrp-del)</dt><dd>
Delete everything related to the
given origin and project.

</dd>
</dl>

<p>To get more details about the arguments etc. use <code>drush help    command</code>.
</p>
</div>

</div>

<div id="outline-container-2.2" class="outline-3">
<h3 id="sec-2.2">Import scripts </h3>
<div class="outline-text-3" id="text-2.2">


<p>
The scripts in the directory <a href="https://gitlab.com/b-translator/btr_server/tree/master/modules/custom/btrCore/data/import">import/</a> are used to import projects
from a certain origin. For example <code>kde.sh</code> imports (or updates)
all the KDE projects, <code>office.sh</code> imports/updates all the
LibreOffice projects, and so on.
</p>
<p>
If a list of projects is passed on the command-line to these
scripts, then only the specified projects will be imported (instead
of all the projects).
</p>
<p>
In the import scripts, usually the French (fr) translation files
are used as template files.
</p>
</div>

</div>

<div id="outline-container-2.3" class="outline-3">
<h3 id="sec-2.3">Example script </h3>
<div class="outline-text-3" id="text-2.3">


<p>
<a href="https://gitlab.com/b-translator/btr_server/blob/master/modules/custom/btrCore/data/import/pingus.sh">This</a> is a simple script for importing the <code>Pingus</code> project:
</p>


<pre class="example">#!/bin/bash -x

### go to the script directory
cd $(dirname $0)

### set the drush alias
drush_alias=${1:-@btr_dev}
drush="drush $drush_alias"

### set some variables
origin=Test
project=Pingus
dir=$(pwd)/pingus

### create the project
$drush btrp-add $origin $project $dir/pingus-fr.po

### import the PO files of each language
for lng in fr sq
do
    $drush btrp-import $origin $project $lng $dir/pingus-$lng.po
done
</pre>




<p>
In this case the project has only a single translation file
(.po). If the project has more then one translation files, then the
directory of these translation files will be passed as an argument
to the commands <code>drush btrp-add</code> and <code>drush btrp-import</code>, instead
of the translation file.
</p>
</div>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3">Bulk import of translations and votes </h2>
<div class="outline-text-2" id="text-3">


<p>
If translators prefer to work off-line with PO files, they can
export the PO files of a project, work on them with desktop tools
(like Lokalize) to translate or correct exported translations, then
import back the correct translations.
</p>
<p>
This can be done with the drush command <code>btr-vote-import   (btr-vote)</code> like this:
</p>


<pre class="example">drush btrp-vote --user=user1 fr $(pwd)/kturtle_fr/
</pre>




<p>
The option <code>--user</code> is required because it declares the author of
translations.
</p>
<p>
This is like a bulk translation and voting service. For any
translation in the PO files, it will be added as a suggestion if
such a translation does not exist, or it will just be voted if such
a translation already exists. In case that the translation already
exists but its author is not known, then the given user will be
recorded as the author of the translation.
</p>

</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4">Exporting </h2>
<div class="outline-text-2" id="text-4">


<p>
Translations can be exported with the drush command
<code>btr-project-export (btrp-export)</code>. For example:
</p>


<pre class="example">drush btrp-export KDE kdeedu sq $(pwd)/kdeedu-sq/
drush btrp-export KDE kdeedu sq $(pwd)/kdeedu-sq/ \
                  --export-mode=preferred --preferred-voters=user1,user2
</pre>




<p>
The last argument is a directory where the PO files will be
exported. As always with drush, it should be an absolute path or
relative to Drupal root.
</p>
<p>
The export mode <code>most_voted</code> (which is the default one) exports the
most voted translations and suggestions.
</p>
<p>
The export mode <code>preferred</code> gives priority to translations that are
voted by a certain user or a group of users. It requires an
additional option (<code>preferred_voters</code>) to specify the user (or a
list of users) whose translations are preferred. If a string has no
translation that is voted by any of the preferred users, then the
most voted translation is exported.
</p>
<p>
<b>NOTE:</b> The formatting of the exported file is not exactly the same
as the imported file. So, these exported files cannot be used
directly to be commited to the project repository. Instead they
should be merged somehow with the existing PO files of the
project. This merge can be simply done by <code>msgmerge</code>, or by tools
like <code>lokalize</code> that facilitate merging of PO files.
</p>
</div>

</div>

<div id="outline-container-5" class="outline-2">
<h2 id="sec-5">Snapshots and diffs </h2>
<div class="outline-text-2" id="text-5">


<p>
A <i>snapshot</i> is an export from the DB of the current PO files of a
project-language. This export is stored in the DB as a TGZ
archive. A project has a snapshot for each language. Snapshots are
useful for generating the <i>diffs</i>.
</p>
<p>
A <i>diff</i> is the difference between the snapshot and the previous
snapshot. The diffs are stored in the DB as well. They are
sequentially numbered and keep the history of changes.
</p>
<p>
There are two types of diffs that are generated and stored. One is
the <i>unified diff</i> (<code>diff -u</code>) and the other the <i>embedded diff</i>
(generated by pology
<a href="http://websvn.kde.org/trunk/l10n-support/pology/">http://websvn.kde.org/trunk/l10n-support/pology/</a>)
</p>
<p>
Diffs allow translators to get only the latest feedback (since the
last snapshot), without having to review again the suggestions made
previously. So, they make easier the work of the translators.
However the previous diffs are saved in the DB as well, in order to
have a full history of the suggested translations over the time.
</p>

</div>

<div id="outline-container-5.1" class="outline-3">
<h3 id="sec-5.1">Lifecycle of the snapshots and diffs </h3>
<div class="outline-text-3" id="text-5.1">


<p>
When a project is imported, an initial snapshot is created and
stored in the DB as well. This initial snapshot contains the
original files that were used for the import. No diff is made
because there is nothing to compare with.
</p>
<p>
Immediately after the initial snapshot, another snapshot is done,
by exporting files in the <code>original</code> mode. This snapshot will
generate a diff, which contains the differences that come as a
result of formating changes between the original PO format and the
exported PO format. It also contains the entries that are skipped
during the import. In general this diff (the first diff) contains
changes that are not interesting for the translator.
</p>
<p>
Then another snapshot is made, using the <code>most_voted</code> mode of
export, which will generate a diff that contains all the feedback
and suggestions made before the import. If the import is actually
an update (re-import) of the project, this diff contains the
suggestions that the translator has probably rejected previously,
and making this snapshot ensures that they are not suggested again
to him.
</p>
<p>
This logic of the initial snapshots and diffs is implemented
automatically during the import of the project.
</p>
<p>
Then, whenever a translator checks the latest diff, it is a good
idea to make a snapshot as well, which will generate the diff with
the previous snapshot (and store it on the DB). As a result, the
translations that have been already suggested to him will not be
suggested again.
</p>
</div>

</div>

<div id="outline-container-5.2" class="outline-3">
<h3 id="sec-5.2">Drush commands for snapshots and diffs </h3>
<div class="outline-text-3" id="text-5.2">


<dl>
<dt>btr-project-snapshot (btrp-snapshot)</dt><dd>
Make a snapshot of the PO
files for the given origin/project/lng.  Also generates the
diffs with the previous snapshot and saves them in DB.

</dd>
<dt>btr-project-diff-ls (btrp-diff-ls)</dt><dd>
Show a list of diffs for
the given origin/project/lng.

</dd>
<dt>btr-project-diff-get (btrp-diff-get)</dt><dd>
Get the content of the
specified diff.

</dd>
<dt>btr-project-diff (btrp-diff)</dt><dd>
Find differencies between the
last snapshot and the current state of the project.

</dd>
</dl>

<p>To get more details about the arguments etc. use <code>drush help command</code>.
</p>
</div>

</div>

<div id="outline-container-5.3" class="outline-3">
<h3 id="sec-5.3">Getting diffs from the web (wget_diff.sh) </h3>
<div class="outline-text-3" id="text-5.3">


<p>
A script <a href="https://gitlab.com/b-translator/btr_server/blob/master/modules/custom/btrCore/data/utils/wget-diffs.sh">like this</a> can be used by the translators to get the diffs of the
projects from the server, through the REST API.
</p>



<pre class="example">$ utils/wget-diffs.sh

Usage: utils/wget-diffs.sh origin project lng [nr]

    Get the diffs of a project using wget and the REST API.
    If 'nr' is missing, then the list of diffs will be retrieved instead.
    If 'nr' is '-', then the latest diffs (since the last snapshot)
    will be computed and returned (it will take longer to execute, since
    the diffs are calculated on the fly).

Examples:
    utils/wget-diffs.sh KDE kdelibs sq
    utils/wget-diffs.sh KDE kdelibs sq 1
    utils/wget-diffs.sh KDE kdelibs sq 2
    utils/wget-diffs.sh KDE kdelibs sq -

</pre>




</div>
</div>
</div>
<div id="postamble">
<p class="author"> Author: Dashamir Hoxha
<a href="mailto:dashohoxha@gmail.com">&lt;dashohoxha@gmail.com&gt;</a>
</p>
<p class="date"> Date: 2014-09-06 22:23:17 CEST</p>
<p class="creator">HTML generated by org-mode 6.33x in emacs 23</p>
</div>
</div>
