---
layout: org-info
---
<div id="content">
<h1 class="title">B-Translator API Reference</h1>
<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">report</a>
<ul>
<li><a href="#sec-1-1">statistics</a></li>
<li><a href="#sec-1-2">project_stats</a></li>
<li><a href="#sec-1-3">topcontrib</a></li>
</ul>
</li>
<li><a href="#sec-2">translations</a>
<ul>
<li><a href="#sec-2-1">get_random_sguid</a></li>
<li><a href="#sec-2-2">get</a></li>
<li><a href="#sec-2-3">add</a></li>
<li><a href="#sec-2-4">vote</a></li>
<li><a href="#sec-2-5">del</a></li>
<li><a href="#sec-2-6">del_vote</a></li>
<li><a href="#sec-2-7">search</a></li>
<li><a href="#sec-2-8">submit</a></li>
<li><a href="#sec-2-9">import</a></li>
</ul>
</li>
<li><a href="#sec-3">project</a>
<ul>
<li><a href="#sec-3-1">subscribe</a></li>
<li><a href="#sec-3-2">list/all</a></li>
<li><a href="#sec-3-3">list</a></li>
<li><a href="#sec-3-4">langs</a></li>
<li><a href="#sec-3-5">export</a></li>
<li><a href="#sec-3-6">diff</a></li>
<li><a href="#sec-3-7">import</a></li>
<li><a href="#sec-3-8">delete</a></li>
</ul>
</li>
<li><a href="#sec-4">vocabulary</a>
<ul>
<li><a href="#sec-4-1">list</a></li>
<li><a href="#sec-4-2">export</a></li>
<li><a href="#sec-4-3">import</a></li>
<li><a href="#sec-4-4">add_string</a></li>
<li><a href="#sec-4-5">del_string</a></li>
<li><a href="#sec-4-6">delete</a></li>
</ul>
</li>
<li><a href="#sec-5">misc</a>
<ul>
<li><a href="#sec-5-1">latest</a></li>
<li><a href="#sec-5-2">rss-feed</a></li>
<li><a href="#sec-5-3">twitter</a></li>
<li><a href="#sec-5-4">autocomplete</a></li>
<li><a href="#sec-5-5">other</a></li>
</ul>
</li>
<li><a href="#sec-6">oauth2</a></li>
</ul>
</div>
</div>

<div id="outline-container-sec-1" class="outline-2">
<h2 id="sec-1">report</h2>
<div class="outline-text-2" id="text-1">
</div><div id="outline-container-sec-1-1" class="outline-3">
<h3 id="sec-1-1">statistics</h3>
<div class="outline-text-3" id="text-1-1">
<p>
General statistics (number of votes and translations) for the last
week, month and year.
</p>

<dl class="org-dl">
<dt> GET api/report/statistics </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>language of translations
</dd>
<dt> origin </dt><dd>(optional) origin of the project 
</dd>
<dt> project </dt><dd>(optional) name of the project                
</dd>
</dl>
</dd>

<dt> POST api/report/statistics </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>language of translations
</dd>
<dt> origin </dt><dd>(optional) origin of the project 
</dd>
<dt> project </dt><dd>(optional) name of the project                
</dd>
</dl>
</dd>
</dl>


<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/report/statistics.php">https://dev.btr.fs.al/api-examples-php/report/statistics.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/statistics_get.js">http://info.btr.fs.al/api-examples-js/#report/statistics_get.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/statistics_post.js">http://info.btr.fs.al/api-examples-js/#report/statistics_post.js</a>
</li>
</ul>

<pre class="example">
curl 'https://btr.fs.al/api/report/statistics?lng=sq&amp;origin=LibreOffice&amp;project=cui'
curl -H 'Accept: application/json' 'https://btr.fs.al/api/report/statistics?lng=sq'
curl -H 'Content-type: application/json' -X POST https://btr.fs.al/api/report/statistics -d '{"lng": "sq"}'
</pre>
</div>
</div>


<div id="outline-container-sec-1-2" class="outline-3">
<h3 id="sec-1-2">project_stats</h3>
<div class="outline-text-3" id="text-1-2">
<p>
Getting project details and statistics (number of translated and
untranslated strings, number of votes and translations, users and
contributers, etc.)
</p>

<dl class="org-dl">
<dt> GET api/report/project_stats </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>origin of the project 
</dd>
<dt> project </dt><dd>name of the project                
</dd>
<dt> lng </dt><dd>language of translations
</dd>
</dl>
</dd>

<dt> POST api/report/project_stats </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>origin of the project 
</dd>
<dt> project </dt><dd>name of the project                
</dd>
<dt> lng </dt><dd>language of translations
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/report/project_stats.php">https://dev.btr.fs.al/api-examples-php/report/project_stats.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/project_stats_get.js">http://info.btr.fs.al/api-examples-js/#report/project_stats_get.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/project_stats_post.js">http://info.btr.fs.al/api-examples-js/#report/project_stats_post.js</a>
</li>
</ul>

<pre class="example">
curl 'https://btr.fs.al/api/report/project_stats?origin=LibreOffice&amp;project=cui&amp;lng=sq'
curl -H 'Accept: application/json' 'https://btr.fs.al/api/report/project_stats?origin=LibreOffice&amp;project=cui&amp;lng=sq'
curl -H 'Content-type: application/json' -X POST https://btr.fs.al/api/report/project_stats -d '{"origin": "LibreOffice", "project": "cui", "lng": "sq"}'
</pre>
</div>
</div>


<div id="outline-container-sec-1-3" class="outline-3">
<h3 id="sec-1-3">topcontrib</h3>
<div class="outline-text-3" id="text-1-3">
<p>
Statistics about top contributors.
</p>

<dl class="org-dl">
<dt> GET api/report/topcontrib </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>language of translations
</dd>
<dt> period </dt><dd>period of report (last <code>day | week | month | year</code>)
</dd>
<dt> size </dt><dd>number of results (top contributers), between 5 and 100
</dd>
<dt> origin </dt><dd>(optional) origin of the project 
</dd>
<dt> project </dt><dd>(optional) name of the project                
</dd>
</dl>
</dd>

<dt> POST api/report/topcontrib </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>language of translations
</dd>
<dt> period </dt><dd>period of report (last <code>day | week | month | year</code>)
</dd>
<dt> size </dt><dd>number of results (top contributers), between 5 and 100
</dd>
<dt> origin </dt><dd>(optional) origin of the project 
</dd>
<dt> project </dt><dd>(optional) name of the project 
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/report/topcontrib.php">https://dev.btr.fs.al/api-examples-php/report/topcontrib.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/topcontrib_get.js">http://info.btr.fs.al/api-examples-js/#report/topcontrib_get.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#report/topcontrib_post.js">http://info.btr.fs.al/api-examples-js/#report/topcontrib_post.js</a>
</li>
</ul>

<pre class="example">
curl -H 'Accept: application/json' 'https://btr.fs.al/api/report/topcontrib?lng=sq&amp;period=week'
curl -H 'Accept: application/json' -H 'Content-type: application/json' -X POST https://btr.fs.al/api/report/topcontrib -d '{"lng": "sq", "period": "week", "size": 10}' -H 'Accept: application/json'
</pre>
</div>
</div>
</div>


<div id="outline-container-sec-2" class="outline-2">
<h2 id="sec-2">translations</h2>
<div class="outline-text-2" id="text-2">
</div><div id="outline-container-sec-2-1" class="outline-3">
<h3 id="sec-2-1">get_random_sguid</h3>
<div class="outline-text-3" id="text-2-1">
<p>
Get the sguid of a random string according to the target.
</p>

<dl class="org-dl">
<dt> POST api/translations/get_random_sguid </dt><dd><dl class="org-dl">
<dt> target </dt><dd>Can be one of: <code>random | translated | untranslated</code>
</dd>
<dt> lng </dt><dd>Code of the language (required for translated and untranslated)
</dd>
<dt> scope </dt><dd>(optional) Restricts the pool of selection to the
given list of project. It is a space separated list of
origin/project like this: <code>origin1/project1 origin2
         origin1/project2</code>
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/sguid.php">https://dev.btr.fs.al/api-examples-php/translations/sguid.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/get_random_sguid.js">http://info.btr.fs.al/api-examples-js/#translations/get_random_sguid.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-2" class="outline-3">
<h3 id="sec-2-2">get</h3>
<div class="outline-text-3" id="text-2-2">
<p>
Get a string, along with its translations, votes and other details.
</p>

<dl class="org-dl">
<dt> GET api/translations/$sguid </dt><dd><dl class="org-dl">
<dt> sguid </dt><dd>The string (globally unique) id, calculated as:
<code>$sguid = sha1($string . $context)</code> It can also be:
<code>random | translated | untranslated</code>.
</dd>
<dt> lng </dt><dd>The language of translations, like fr, de, etc.
</dd>
</dl>
</dd>

<dt> POST api/translations/get </dt><dd><dl class="org-dl">
<dt> sguid </dt><dd>The string (globally unique) id, calculated as:
<code>$sguid = sha1($string . $context)</code> It can also be:
<code>random | translated | untranslated</code>.
</dd>
<dt> lng </dt><dd>The language of translations, like fr, de, etc.
</dd>
</dl>
</dd>

<dt> GET translations/$lng/$sguid </dt><dd>Returns the details of a string
and its translations.  If the request header <code>Accept:
     application/json</code> is set, then the output will be in JSON
(otherwise it will be an HTML page). The parameter <i>$sguid</i> can
also be one of <code>random | translated | untranslated</code>.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/retrieve.js">http://info.btr.fs.al/api-examples-js/#translations/retrieve.js</a>
</li>
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/get.php">https://dev.btr.fs.al/api-examples-php/translations/get.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/get.js">http://info.btr.fs.al/api-examples-js/#translations/get.js</a>
</li>
</ul>

<pre class="example">
curl -k -H 'Accept: application/json' \
  'https://dev.btr.fs.al/translations/sq/ee178b82f7ff3b5fb48537b834db673b42d48556'
curl -k -H 'Accept: application/json' https://dev.btr.fs.al/translations/sq/random
</pre>
</div>
</div>


<div id="outline-container-sec-2-3" class="outline-3">
<h3 id="sec-2-3">add</h3>
<div class="outline-text-3" id="text-2-3">
<p>
Add a new translation to a source string.
</p>

<dl class="org-dl">
<dt> POST api/translations/add </dt><dd><dl class="org-dl">
<dt> sguid </dt><dd>         The string ID for which a new translation should be added.
</dd>
<dt> lng </dt><dd>         The language (code) of the new translation.
</dd>
<dt> translation </dt><dd>         The new translation as a string. If the string has plural
version(s) as well, they are concatenated with NULL bytes ("\0")
between them.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/add.php">https://dev.btr.fs.al/api-examples-php/translations/add.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/add.js">http://info.btr.fs.al/api-examples-js/#translations/add.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-4" class="outline-3">
<h3 id="sec-2-4">vote</h3>
<div class="outline-text-3" id="text-2-4">
<p>
Add a vote for the given translation.
</p>

<dl class="org-dl">
<dt> POST api/translations/vote </dt><dd><dl class="org-dl">
<dt> tguid </dt><dd>ID of the translation
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/vote.php">https://dev.btr.fs.al/api-examples-php/translations/vote.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/vote.js">http://info.btr.fs.al/api-examples-js/#translations/vote.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-5" class="outline-3">
<h3 id="sec-2-5">del</h3>
<div class="outline-text-3" id="text-2-5">
<p>
Delete a translation
</p>

<dl class="org-dl">
<dt> POST api/translations/del </dt><dd><dl class="org-dl">
<dt> tguid </dt><dd>ID of the translation
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/add.php">https://dev.btr.fs.al/api-examples-php/translations/add.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/add.js">http://info.btr.fs.al/api-examples-js/#translations/add.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-6" class="outline-3">
<h3 id="sec-2-6">del_vote</h3>
<div class="outline-text-3" id="text-2-6">
<p>
Delete a vote from the given translation.
</p>

<dl class="org-dl">
<dt> POST api/translations/del_vote </dt><dd><dl class="org-dl">
<dt> tguid </dt><dd>ID of the translation
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/vote.php">https://dev.btr.fs.al/api-examples-php/translations/vote.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/vote.js">http://info.btr.fs.al/api-examples-js/#translations/vote.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-7" class="outline-3">
<h3 id="sec-2-7">search</h3>
<div class="outline-text-3" id="text-2-7">
<p>
Search strings and translations using various filters.
</p>

<dl class="org-dl">
<dt> GET api/translations </dt><dd>This provides the same
functionality and has the same parameters as the <b>search</b>
operation.  The only difference is that the parameters are
provided as a GET request (in the URL), whereas the parameters of
'search' are provided as a POST request. Sometimes this may be
more convenient.
</dd>

<dt> POST api/translations/search </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>         The language of translations.
</dd>
<dt> limit </dt><dd>         The number of results to be returned (min: 5, max: 50).
</dd>
<dt> words </dt><dd>         Words to be searched for.
</dd>
<dt> sguid </dt><dd>         If the <i>words</i> is empty and there is a <i>sguid</i> then the
words of this string are used for searching.
</dd>
<dt> mode </dt><dd>         Search mode. Can be one of:
<ul class="org-ul">
<li>natural-strings :       Natural search on strings (default).
</li>
<li>natural-translations :  Natural search on translations.
</li>
<li>boolean-strings :       Boolean search on strings.
</li>
<li>boolean-translations :  Boolean search on translations.
</li>
</ul>
</dd>
<dt> page </dt><dd>         Page of results to be displayed.
</dd>
<dt> project </dt><dd>         Limit search only to this project
</dd>
<dt> origin </dt><dd>         Limit search only to the projects of this origin.
</dd>
<dt> only_mine </dt><dd>(boolean)
Limit search only to the strings touched (translated or voted)
by the current user.
</dd>
<dt> translated_by </dt><dd>         Limit search by the author of translations
(can be used only by admins).
</dd>
<dt> voted_by </dt><dd>         Limit search by a voter (can be used only by admins).
</dd>
<dt> date_filter </dt><dd>         Which date to filter (used only by admins). Can be one of:
<ul class="org-ul">
<li>strings :       Filter Strings By Date
</li>
<li>translations :  Filter Translations By Date (default)
</li>
<li>votes :         Filter Votes By Date
</li>
</ul>
</dd>
<dt> from_date </dt><dd>         Date and time.
</dd>
<dt> to_date </dt><dd>         Date and time.
</dd>
<dt> list_mode </dt><dd>         Used when listing the strings of a project.
Can be one of: <i>all</i>, <i>translated</i>, <i>untranslated</i>
</dd>
</dl>
</dd>

<dt> GET translations/search </dt><dd>Search strings and translations using
various filters.  If the request header <code>Accept: application/json</code>
is set, then the output will be in JSON (otherwise it will be an
HTML page). It gets the same parameters as <code>GET
    api/translations</code>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/search.php">https://dev.btr.fs.al/api-examples-php/translations/search.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/list.js">http://info.btr.fs.al/api-examples-js/#translations/list.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/search.js">http://info.btr.fs.al/api-examples-js/#translations/search.js</a>
</li>
</ul>

<pre class="example">
curl -k -H 'Accept: application/json' \
     'https://dev.btr.fs.al/translations/search?lng=sq&amp;words=space'
curl -k -H 'Accept: application/json' \
     'https://l10n.fs.al/translations/search?lng=sq&amp;words=space'
</pre>
</div>
</div>


<div id="outline-container-sec-2-8" class="outline-3">
<h3 id="sec-2-8">submit</h3>
<div class="outline-text-3" id="text-2-8">
<p>
Submit multiple actions at once.
</p>

<dl class="org-dl">
<dt> POST api/translations/submit </dt><dd>         Array of actions. Each action is an associated array
that contains the items:
<dl class="org-dl">
<dt> action </dt><dd>             The action to be done: <code>add | vote | del | del_vote</code>
</dd>
<dt> params </dt><dd>             Associative array of the needed parameters for this action.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/submit.php">https://dev.btr.fs.al/api-examples-php/translations/submit.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/submit.js">http://info.btr.fs.al/api-examples-js/#translations/submit.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-2-9" class="outline-3">
<h3 id="sec-2-9">import</h3>
<div class="outline-text-3" id="text-2-9">
<p>
Import translations from PO files.
</p>

<dl class="org-dl">
<dt> POST api/translations/import </dt><dd><dl class="org-dl">
<dt> lng </dt><dd>         Language of translations.
</dd>
<dt> file </dt><dd>         A PO file with translations, or an archive of PO files
(accepted extensions: .tar, .gz, .tgz, .bz2, .xz, .7z, .zip).
</dd>
</dl>
<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> messages </dt><dd>         Array of notification messages; each notification message
is an array of a message and a type, where type can be one of
<code>status</code>, <code>warning</code>, <code>error</code>.
</dd>
</dl>
</dd>
</dl>

<p>
This is like a bulk translation and voting service. For any
translation in the PO files, it will be added as a suggestion if
such a translation does not exist, or it will just be voted if such
a translation already exists. In case that the translation already
exists but its author is not known, then you (the user who makes
the import) will be recorded as the author of the translation.
</p>

<p>
This can be useful for translators if they prefer to work off-line
with PO files. They can export the PO files of a project, work on
them with desktop tools (like Lokalize) to translate or correct
exported translations, and then import back to B-Translator the
translated/corrected PO files.
</p>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/translations/import.php">https://dev.btr.fs.al/api-examples-php/translations/import.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#translations/import.js">http://info.btr.fs.al/api-examples-js/#translations/import.js</a>
</li>
</ul>
</div>
</div>
</div>


<div id="outline-container-sec-3" class="outline-2">
<h2 id="sec-3">project</h2>
<div class="outline-text-2" id="text-3">
</div><div id="outline-container-sec-3-1" class="outline-3">
<h3 id="sec-3-1">subscribe</h3>
<div class="outline-text-3" id="text-3-1">
<p>
Subscribe user to a project.
</p>

<dl class="org-dl">
<dt> POST api/project/subscribe </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>Origin of the project.
</dd>
<dt> project </dt><dd>Name of the project.
</dd>
</dl>
</dd>
</dl>

<p>
Unsubscribe user from a project.
</p>

<dl class="org-dl">
<dt> POST api/project/unsubscribe </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>Origin of the project.
</dd>
<dt> project </dt><dd>Name of the project.
</dd>
</dl>
</dd>
</dl>

<p>
Get user subscriptions.
</p>

<dl class="org-dl">
<dt> POST api/project/subscriptions </dt><dd></dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/subscribe.php">https://dev.btr.fs.al/api-examples-php/project/subscribe.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/subscribe.js">http://info.btr.fs.al/api-examples-js/#project/subscribe.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-3-2" class="outline-3">
<h3 id="sec-3-2">list/all</h3>
<div class="outline-text-3" id="text-3-2">
<dl class="org-dl">
<dt> GET project/list/all </dt><dd>     Return a full list of all the imported projects and languages.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/list_all.php">https://dev.btr.fs.al/api-examples-php/project/list_all.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/list_all.js">http://info.btr.fs.al/api-examples-js/#project/list_all.js</a>
</li>
</ul>

<pre class="example">
curl -s https://btr.fs.al/project/list/all | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-sec-3-3" class="outline-3">
<h3 id="sec-3-3">list</h3>
<div class="outline-text-3" id="text-3-3">
<p>
Get a list of existing projects, filtered by origin/project.
</p>

<dl class="org-dl">
<dt> POST api/project/list </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>Filter by origin.
</dd>
<dt> project </dt><dd>Filter by project.
</dd>
</dl>
<p>
Parameters <b>origin</b> and <b>project</b> can contain <code>*</code>, which is
replaced by <code>%</code> (for LIKE matches).
</p>

<p>
If <b>project</b> is <code>-</code> then only a list of 'origin' is outputed,
otherwise a list of 'origin/project'.
</p>
</dd>

<dt> GET project/list/$origin/$project[/$format] </dt><dd>     Return a plain-text list of all the imported projects, filtered
by the given origin/project. Parameters <b>origin</b> and <b>project</b>
can contain <code>*</code>, which is replaced by <code>%</code> (for LIKE matches).  If
<b>project</b> is <code>-</code> then only a list of 'origin' is outputed,
otherwise a list of 'origin/project'.  The third variable can be
JSON or TEXT (default).
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/list.php">https://dev.btr.fs.al/api-examples-php/project/list.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/list.js">http://info.btr.fs.al/api-examples-js/#project/list.js</a>
</li>
</ul>

<pre class="example">
curl -k -X POST https://dev.btr.fs.al/api/project/list
curl -k -X POST https://dev.btr.fs.al/api/project/list \
     -H "Content-type: application/json" \
     -d '{"origin": "t*"}'
</pre>

<pre class="example">
curl 'https://btr.fs.al/project/list/*/-'
curl 'https://btr.fs.al/project/list/*/-/json'
curl 'https://btr.fs.al/project/list/LibreOffice/s*'
curl 'https://btr.fs.al/project/list/LibreOffice'
curl 'https://btr.fs.al/project/list/*/nautil*'
curl 'https://btr.fs.al/project/list/*/*/json'
curl 'https://btr.fs.al/project/list'
</pre>
</div>
</div>


<div id="outline-container-sec-3-4" class="outline-3">
<h3 id="sec-3-4">langs</h3>
<div class="outline-text-3" id="text-3-4">
<dl class="org-dl">
<dt> GET project/langs/$origin/$project </dt><dd>     Get a list of languages for the given origin/project.
</dd>
</dl>

<p>
Examples:
</p>
<pre class="example">
curl -s https://btr.fs.al/project/langs/LibreOffice/cui | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-sec-3-5" class="outline-3">
<h3 id="sec-3-5">export</h3>
<div class="outline-text-3" id="text-3-5">
<dl class="org-dl">
<dt> POST api/project/export </dt><dd>Schedule a project for export. When
the request is completed, the user will be notified by
email. Accepts these parameters:

<dl class="org-dl">
<dt> origin </dt><dd>         The origin of the project.
</dd>
<dt> project </dt><dd>         The name of the project.
</dd>
<dt> lng </dt><dd>         Translation to be exported.
</dd>
<dt> export_mode </dt><dd>         The export mode that should be used. It can be one of:
<code>original | most_voted | preferred</code>.
<ul class="org-ul">
<li>The mode <code>original</code> exports the translations of the
original files that were imported.
</li>
<li>The mode <code>most_voted</code> exports the translations with the
highest number of votes.
</li>
<li>The mode <code>preferred</code> gives precedence to the translations
voted by a user or a list of users, despite the number of
votes.
</li>
</ul>
</dd>
<dt> preferred_voters </dt><dd>         Comma separated list of usernames. Used only when <i>export_mode</i>
         is <code>preferred</code>.
</dd>
</dl>
</dd>

<dt> GET/POST project/export </dt><dd>Return an archive of PO
files for a given origin/project/lng. Does not allow concurrent
exports because they may affect the performance of the server.
Parameters are received from the request (either GET or
POST). They are:
<dl class="org-dl">
<dt> origin </dt><dd>         Origin of the project.
</dd>
<dt> project </dt><dd>         The name of the project.
</dd>
<dt> lng </dt><dd>         Translation to be exported.
</dd>
<dt> export_mode </dt><dd>         Mode of export: <code>most_voted | preferred | original</code>

<p>
Default is <code>most_voted</code> which exports the most voted
translations and suggestions.
</p>

<p>
The export mode <code>original</code> exports the translations of the
original file that was imported (useful for making diffs).
</p>

<p>
The export mode <code>preferred</code> gives priority to translations
that are voted by a certain user or a group of users. It
requires an additional argument (preferred_voters) to specify
the user (or a list of users) whose translations are
preferred.
</p>
</dd>
<dt> preferred_voters </dt><dd>         Comma separated list of usernames of the preferred voters.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/export.php">https://dev.btr.fs.al/api-examples-php/project/export.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/export.js">http://info.btr.fs.al/api-examples-js/#project/export.js</a>
</li>
</ul>

<pre class="example">
curl -k 'https://dev.btr.fs.al/project/export?origin=test&amp;project=kturtle&amp;lng=sq' &gt; test1.tgz
curl -k https://dev.btr.fs.al/project/export \
     -d 'origin=test&amp;project=kturtle&amp;lng=sq&amp;export_mode=original' &gt; test1.tgz
curl -k https://dev.btr.fs.al/project/export \
     -d origin=test -d project=kturtle -d lng=sq \
     -d export_mode=preferred \
     -d preferred_voters=user1,user2 &gt; test1.tgz
</pre>
</div>
</div>


<div id="outline-container-sec-3-6" class="outline-3">
<h3 id="sec-3-6">diff</h3>
<div class="outline-text-3" id="text-3-6">
<p>
For more details about diffs see: <a href="https://gitlab.com/b-translator/btr_server/blob/master/modules/custom/btrCore/data/README.org#snapshots-and-diffs">README.org#snapshots-and-diffs</a>
</p>

<dl class="org-dl">
<dt> GET project/diff/$origin/$project/$lng[/$nr[/$ediff]] </dt><dd>     Return as plain-text the diff of the PO file for a given
origin/project/lng, which contains the latest most-voted
suggestions since the last snapshot. If the parameter <b>$nr</b> is
missing, it returns a list of the saved diffs instead.
</dd>

<dt> GET project/diff-dl/$origin/$project/$lng[/$nr[/$ediff]] </dt><dd>     Similar to project_diff, but return a file for download (not plain text).
</dd>

<dt> GET project/diff-latest/$origin/$project/$lng?format=&#x2026;&amp;export_mode=&#x2026;&amp;friends=&#x2026; </dt><dd>     Export the latest most voted translations and make the diffs with the last snapshot.
</dd>
</dl>

<p>
Examples:
</p>
<pre class="example">
curl https://btr.fs.al/project/diff/LibreOffice/sw/sq
curl https://btr.fs.al/project/diff/LibreOffice/sw/sq/2 &gt; 2.diff
curl https://btr.fs.al/project/diff/LibreOffice/sw/sq/2/ediff &gt; 2.ediff
curl https://btr.fs.al/project/diff/LibreOffice/sw/sq/4 &gt; 4.diff
curl https://btr.fs.al/project/diff/LibreOffice/sw/sq/4/ediff &gt; 4.ediff
</pre>

<pre class="example">
curl https://btr.fs.al/project/diff-dl/LibreOffice/sw/sq/2
curl https://btr.fs.al/project/diff-dl/LibreOffice/sw/sq/2/ediff
curl https://btr.fs.al/project/diff-dl/LibreOffice/sw/sq/4/diff
curl https://btr.fs.al/project/diff-dl/LibreOffice/sw/sq/4/ediff
</pre>

<pre class="example">
curl 'https://btr.fs.al/project/diff-latest/LibreOffice/sw/sq?format=diff&amp;export_mode=preferred_by_me&amp;friends='
</pre>
</div>
</div>


<div id="outline-container-sec-3-7" class="outline-3">
<h3 id="sec-3-7">import</h3>
<div class="outline-text-3" id="text-3-7">
<p>
Create a project or update an existing one by importing the POT and
PO files of the project.
</p>


<dl class="org-dl">
<dt> POST api/project/import </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>         The origin of the project that will be imported.
</dd>
<dt> project </dt><dd>         The name of the project that will be imported.
</dd>
<dt> file </dt><dd>         Archive of POT/PO files (tgz, bz2, 7z, zip).
</dd>
</dl>
</dd>
</dl>

<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> messages </dt><dd>         Array of notification messages; each notification message
is an array of a message and a type, where type can be one of
<code>status</code>, <code>warning</code>, <code>error</code>.
</dd>
</dl>

<p>
The structure of the uploaded archive file:
</p>
<ul class="org-ul">
<li>Acceptable archive types: tgz, bz2, 7z, zip
</li>
<li>The POT files should be placed in the subfolder <code>pot/</code>, directly
in the root folder of the archive.
</li>
<li>The PO files of a language should be placed in the subfolder
named after the code of that language (for example: <code>sq/</code>, <code>de/</code>,
<code>fr/</code>, etc.)
</li>
<li>The path and name of each PO file should be the same as the
corresponding POT file, except for the extension (<code>.po</code> instead
of <code>.pot</code>).
</li>
</ul>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/import.php">https://dev.btr.fs.al/api-examples-php/project/import.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/import.js">http://info.btr.fs.al/api-examples-js/#project/import.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-3-8" class="outline-3">
<h3 id="sec-3-8">delete</h3>
<div class="outline-text-3" id="text-3-8">
<p>
Delete a project.
</p>

<dl class="org-dl">
<dt> POST api/project/delete </dt><dd><dl class="org-dl">
<dt> origin </dt><dd>         The origin of the project that will be deleted.
</dd>
<dt> project </dt><dd>         The name of the project that will be deleted.
</dd>
</dl>
</dd>
</dl>

<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> message </dt><dd>         Notification message, which is an array of a message and a
type, where type can be one of <code>status</code>, <code>warning</code>, <code>error</code>.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/project/delete.php">https://dev.btr.fs.al/api-examples-php/project/delete.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#project/delete.js">http://info.btr.fs.al/api-examples-js/#project/delete.js</a>
</li>
</ul>
</div>
</div>
</div>


<div id="outline-container-sec-4" class="outline-2">
<h2 id="sec-4">vocabulary</h2>
<div class="outline-text-2" id="text-4">
<p>
Vocabularies are a special kind of projects. So all the functions
that work for projects can be used for vocabularies as well. For
example, if we have the vocabulary named <code>test1</code> of language <code>sq</code>,
then project functions can be used with =origin = 'vocabulary'= and
<code>project = 'test1_sq'=. Also, the context of each string will be
  =test1_sq</code>.
</p>
</div>


<div id="outline-container-sec-4-1" class="outline-3">
<h3 id="sec-4-1">list</h3>
<div class="outline-text-3" id="text-4-1">
<dl class="org-dl">
<dt> GET vocabulary/list </dt><dd>     Return a list of vocabularies in JSON format.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/list.php">https://dev.btr.fs.al/api-examples-php/vocabulary/list.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/list.js">http://info.btr.fs.al/api-examples-js/#vocabulary/list.js</a>
</li>
</ul>

<pre class="example">
curl -s https://btr.fs.al/vocabulary/list | python -m json.tool
curl -s https://dev.btr.fs.al/vocabulary/list | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-sec-4-2" class="outline-3">
<h3 id="sec-4-2">export</h3>
<div class="outline-text-3" id="text-4-2">
<dl class="org-dl">
<dt> GET vocabulary/export/$vocabulary[/$format] </dt><dd>     Return the list of terms and translations of a vocabulary.
<dl class="org-dl">
<dt> $vocabulary </dt><dd>         The name of the vocabulary project (which ends in <code>_lng</code>).
</dd>
<dt> $format </dt><dd>         The output format: <code>json | txt1 | txt2 | org</code>.
Default is <code>json</code>.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/export.php">https://dev.btr.fs.al/api-examples-php/vocabulary/export.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/export.js">http://info.btr.fs.al/api-examples-js/#vocabulary/export.js</a>
</li>
</ul>

<pre class="example">
curl -s https://btr.fs.al/vocabulary/export/ICT_sq | python -m json.tool
curl https://btr.fs.al/vocabulary/export/ICT_sq/txt1
curl https://btr.fs.al/vocabulary/export/ICT_sq/org &gt; ICT_sq.org
</pre>
</div>
</div>


<div id="outline-container-sec-4-3" class="outline-3">
<h3 id="sec-4-3">import</h3>
<div class="outline-text-3" id="text-4-3">
<p>
Create a vocabulary or update an existing one.
</p>

<dl class="org-dl">
<dt> POST api/vocabulary/import </dt><dd><dl class="org-dl">
<dt> name </dt><dd>         The name of the vocabulary.
</dd>
<dt> lng </dt><dd>         The language of the vocabulary.
</dd>
<dt> file </dt><dd>         File of terms and translations.
</dd>
</dl>
</dd>
</dl>

<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> messages </dt><dd>         Array of notification messages; each notification message
is an array of a message and a type, where type can be one of
<code>status</code>, <code>warning</code>, <code>error</code>.
</dd>
</dl>

<p>
The format of the uploaded text file is the same as the exported
TXT1 file, where each line is like this:
</p>
<pre class="example">
term &lt;==&gt; translation1 / translation2 / translation3
</pre>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/import.php">https://dev.btr.fs.al/api-examples-php/vocabulary/import.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/import.js">http://info.btr.fs.al/api-examples-js/#vocabulary/import.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-4-4" class="outline-3">
<h3 id="sec-4-4">add_string</h3>
<div class="outline-text-3" id="text-4-4">
<p>
Add a new string to a vocabulary.
</p>

<dl class="org-dl">
<dt> POST api/vocabulary/add_string </dt><dd><dl class="org-dl">
<dt> name </dt><dd>         The name of the vocabulary.
</dd>
<dt> lng </dt><dd>         The language of the vocabulary.
</dd>
<dt> string </dt><dd>         String to be added.
</dd>
<dt> notify </dt><dd>(optional)
It TRUE, notify subscribers about the new string. Default is TRUE.
</dd>
</dl>
<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> sguid </dt><dd>The sguid of the new string, or NULL if such a string
already exists.
</dd>
<dt> messages </dt><dd>Array of notification messages; each notification
message is an array of a message and a type, where
type can be one of <i>status</i>, <i>warning</i>, <i>error</i>
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/add_string.php">https://dev.btr.fs.al/api-examples-php/vocabulary/add_string.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/add_string.js">http://info.btr.fs.al/api-examples-js/#vocabulary/add_string.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-4-5" class="outline-3">
<h3 id="sec-4-5">del_string</h3>
<div class="outline-text-3" id="text-4-5">
<p>
Delete a string from a vocabulary.
</p>

<dl class="org-dl">
<dt> POST api/project/del_string </dt><dd><dl class="org-dl">
<dt> name </dt><dd>         The name of the vocabulary.
</dd>
<dt> lng </dt><dd>         The language of the vocabulary.
</dd>
<dt> sguid </dt><dd>         ID of the string to be deleted.
</dd>
</dl>
<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> messages </dt><dd>Array of notification messages; each notification
message is an array of a message and a type, where
type can be one of <i>status</i>, <i>warning</i>, <i>error</i>
</dd>
</dl>
</dd>
</dl>
<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/add_string.php">https://dev.btr.fs.al/api-examples-php/vocabulary/add_string.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/add_string.js">http://info.btr.fs.al/api-examples-js/#vocabulary/add_string.js</a>
</li>
</ul>
</div>
</div>


<div id="outline-container-sec-4-6" class="outline-3">
<h3 id="sec-4-6">delete</h3>
<div class="outline-text-3" id="text-4-6">
<p>
Delete a vocabulary.
</p>

<dl class="org-dl">
<dt> POST api/vocabulary/delete </dt><dd><dl class="org-dl">
<dt> name </dt><dd>         The name of the vocabulary.
</dd>
<dt> lng </dt><dd>         The language of the vocabulary.
</dd>
</dl>
</dd>
</dl>

<p>
Returns associative array containing:
</p>
<dl class="org-dl">
<dt> message </dt><dd>         Notification message, which is an array of a message and a
type, where type can be one of <code>status</code>, <code>warning</code>, <code>error</code>.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/vocabulary/delete.php">https://dev.btr.fs.al/api-examples-php/vocabulary/delete.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#vocabulary/delete.js">http://info.btr.fs.al/api-examples-js/#vocabulary/delete.js</a>
</li>
</ul>
</div>
</div>
</div>


<div id="outline-container-sec-5" class="outline-2">
<h2 id="sec-5">misc</h2>
<div class="outline-text-2" id="text-5">
</div><div id="outline-container-sec-5-1" class="outline-3">
<h3 id="sec-5-1">latest</h3>
<div class="outline-text-3" id="text-5-1">
<dl class="org-dl">
<dt> GET latest/$lng[/$origin[/$project]] </dt><dd>Return a JSON array of
the latest translations for the given language (origin and
project are optional). Latest means yesterday.  Results are
cached, so last minute translations may not appear on the
list.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/misc/latest.php">https://dev.btr.fs.al/api-examples-php/misc/latest.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#misc/latest.js">http://info.btr.fs.al/api-examples-js/#misc/latest.js</a>
</li>
</ul>

<pre class="example">
curl https://btr.fs.al/latest/sq
curl https://btr.fs.al/latest/sq/vocabulary
curl https://btr.fs.al/latest/sq/vocabulary/ICT_sq
</pre>
</div>
</div>


<div id="outline-container-sec-5-2" class="outline-3">
<h3 id="sec-5-2">rss-feed</h3>
<div class="outline-text-3" id="text-5-2">
<dl class="org-dl">
<dt> GET btr/rss-feed[/$origin[/$project]] </dt><dd>Return a RSS feed of the
latest translations (origin and project are optional). Latest
means yesterday.  Results are cached, so last minute
translations may not appear on the list.
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/misc/rss-feed.php">https://dev.btr.fs.al/api-examples-php/misc/rss-feed.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#misc/rss-feed.js">http://info.btr.fs.al/api-examples-js/#misc/rss-feed.js</a>
</li>
</ul>

<pre class="example">
curl https://l10n.fs.al/btr/rss-feed
curl https://l10n.fs.al/btr/rss-feed/vocabulary
curl https://l10n.fs.al/btr/rss-feed/vocabulary/ICT_sq

curl https://btranslator.fs.al/btr/rss-feed/LibreOffice/cui/sq
curl https://btranslator.fs.al/btr/rss-feed/LibreOffice/cui

curl https://btr.fs.al/rss-feed/sq
curl https://btr.fs.al/rss-feed/sq/LibreOffice
curl https://btr.fs.al/rss-feed/sq/LibreOffice/cui
</pre>
</div>
</div>


<div id="outline-container-sec-5-3" class="outline-3">
<h3 id="sec-5-3">twitter</h3>
<div class="outline-text-3" id="text-5-3">
<dl class="org-dl">
<dt> GET btr/tweet[/$origin[/$project]] </dt><dd>Return a random string and
its translations in a suitable form for the twitter (truncated
to 100 characters).
</dd>

<dt> GET tweet/$lng[/$origin[/$project]] </dt><dd>Return a random string and
its translations in a suitable form for the twitter (truncated
to 100 characters).
<dl class="org-dl">
<dt> lng </dt><dd>Language of translations.
</dd>
</dl>
</dd>
</dl>

<p>
<b>Note:</b> This can be used in combination with <i>cli twitter
clients</i> and with <b>cron</b> to post random tweets about
translations.  See this script as an example:
<a href="https://gitlab.com/b-translator/btr_server/blob/master/utils/twitter.sh">https://gitlab.com/b-translator/btr_server/blob/master/utils/twitter.sh</a>
</p>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/misc/twitter.php">https://dev.btr.fs.al/api-examples-php/misc/twitter.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#misc/twitter.js">http://info.btr.fs.al/api-examples-js/#misc/twitter.js</a>
</li>
</ul>

<pre class="example">
curl https://l10n.fs.al/btr/tweet
curl https://l10n.fs.al/btr/tweet/vocabulary
curl https://l10n.fs.al/btr/tweet/vocabulary/ICT_sq

curl https://btranslator.fs.al/btr/tweet/vocabulary/ICT_sq/sq

curl https://btr.fs.al/tweet/sq
curl https://btr.fs.al/tweet/sq/vocabulary
curl https://btr.fs.al/tweet/sq/vocabulary/ICT_sq

curl -H 'Accept: application/json' \
     https://btr.fs.al/tweet/sq | python -m json.tool
</pre>
</div>
</div>


<div id="outline-container-sec-5-4" class="outline-3">
<h3 id="sec-5-4">autocomplete</h3>
<div class="outline-text-3" id="text-5-4">
<dl class="org-dl">
<dt> GET auto/project/$str </dt><dd>Retrieve a JSON list of autocomplete
suggestions for projects.
<dl class="org-dl">
<dt> str </dt><dd>Beginning of a project name.
</dd>
</dl>
</dd>

<dt> GET auto/origin/$str </dt><dd>Retrieve a JSON list of autocomplete
suggestions for origins of projects.
<dl class="org-dl">
<dt> str </dt><dd>Beginning of an origin.
</dd>
</dl>
</dd>

<dt> GET auto/user/$lng/$str </dt><dd>Retrieve a JSON list of autocomplete
suggestions for users.
<dl class="org-dl">
<dt> lng </dt><dd>Language of translations.
</dd>
<dt> str </dt><dd>Beginning of a user name.
</dd>
</dl>
</dd>

<dt> GET auto/string/$origin/$project/$str </dt><dd>     Retrieve a JSON list of autocomplete suggestions for strings.
<dl class="org-dl">
<dt> origin </dt><dd>Limit search to this origin. If it is <code>*</code>, then don't
limit by origin.
</dd>
<dt> project </dt><dd>Limit search to this project. If it is <code>*</code>, then
don't limit by project.
</dd>
<dt> str </dt><dd>Beginning of a string.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="https://dev.btr.fs.al/api-examples-php/misc/autocomplete.php">https://dev.btr.fs.al/api-examples-php/misc/autocomplete.php</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#misc/autocomplete.js">http://info.btr.fs.al/api-examples-js/#misc/autocomplete.js</a>
</li>
</ul>

<pre class="example">
curl https://btr.fs.al/auto/project/kd
curl https://btr.fs.al/auto/origin/G
curl https://btr.fs.al/auto/user/sq/d

curl https://btr.fs.al/auto/string/vocabulary/ICT_sq/a
curl https://btr.fs.al/auto/string/vocabulary/*/a
curl https://btr.fs.al/auto/string/*/ICT_sq/a
curl https://btr.fs.al/auto/string/*/*/a
</pre>
</div>
</div>


<div id="outline-container-sec-5-5" class="outline-3">
<h3 id="sec-5-5">other</h3>
<div class="outline-text-3" id="text-5-5">
<dl class="org-dl">
<dt> GET languages </dt><dd>Return a json list of languages installed on the
system and their details.
</dd>

<dt> GET string_details/$sguid </dt><dd>Return string context, a
list of related projects (where the string appears), etc.
provider.
<dl class="org-dl">
<dt> sguid </dt><dd>Id of the string.
</dd>
</dl>
</dd>
</dl>

<p>
Examples:
</p>
<pre class="example">
curl https://btr.fs.al/languages | python -m json.tool
curl https://btr.fs.al/string_details/0f27be1118ae4807f00ed5fa21a0f17fcc3649ed | python -m json.tool
</pre>
</div>
</div>
</div>


<div id="outline-container-sec-6" class="outline-2">
<h2 id="sec-6">oauth2</h2>
<div class="outline-text-2" id="text-6">
<dl class="org-dl">
<dt> POST oauth2/token </dt><dd>Get an OAuth2 token.
<pre class="example">
$.ajax(base_url + '/oauth2/token', {
    type: 'POST',
    data: {
        grant_type: 'password',
        username: 'user1',
        password: 'pass1',
        scope: 'user_profile', 
    },
    headers: {
        'Authorization': 'Basic ' + btoa(client_id + ':' + client_secret'), 
    },

});
</pre>
</dd>

<dt> GET oauth2/tokens/&lt;access_token&gt; </dt><dd>Verify the validity of an
OAuth2 token.
<pre class="example">
$.ajax(base_url + '/oauth2/tokens/' + access_token)
    .fail(function () {
        console.log('Token is not valid.');
    })
    .done(function (response) {
        console.log(response);
    });
</pre>
</dd>

<dt> POST oauth2/user/profile </dt><dd>Get the profile of the user.
<pre class="example">
$.ajax(base_url + '/oauth2/user/profile', {
    type: 'POST',
    headers: {
        'Authorization': 'Bearer ' + access_token,
    },
    dataType: 'json',
});
</pre>
</dd>
</dl>

<p>
Examples:
</p>
<ul class="org-ul">
<li><a href="http://info.btr.fs.al/api-examples-js/#oauth2/get_token.js">http://info.btr.fs.al/api-examples-js/#oauth2/get_token.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#oauth2/verify_token.js">http://info.btr.fs.al/api-examples-js/#oauth2/verify_token.js</a>
</li>
<li><a href="http://info.btr.fs.al/api-examples-js/#oauth2/get_user_profile.js">http://info.btr.fs.al/api-examples-js/#oauth2/get_user_profile.js</a>
</li>
</ul>

<p>
For more details and examples see: <a href="https://gitlab.com/dashohoxha/oauth2-js">https://gitlab.com/dashohoxha/oauth2-js</a>
</p>

<p>
For PHP examples see:
</p>
<ul class="org-ul">
<li><a href="https://btr.fs.al/api-examples-php/config.php">https://btr.fs.al/api-examples-php/config.php</a>
</li>
<li><a href="https://btr.fs.al/api-examples-php/get_access_token.php">https://btr.fs.al/api-examples-php/get_access_token.php</a>
</li>
<li><a href="https://btr.fs.al/api-examples-php/translations/add.php">https://btr.fs.al/api-examples-php/translations/add.php</a>
</li>
</ul>
</div>
</div>
</div>
<div id="postamble" class="status">
<p class="author">Author: Dashamir Hoxha</p>
<p class="date">Created: 2015-11-03 Tue 10:17</p>
<p class="creator"><a href="http://www.gnu.org/software/emacs/">Emacs</a> 24.3.1 (<a href="http://orgmode.org">Org</a> mode 8.2.10)</p>
<p class="validation"><a href="http://validator.w3.org/check?uri=referer">Validate</a></p>
</div>
